@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px is now default, will be used for rem. Use % because otherwise user can +/-.
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #202124;
}

a {
    text-decoration: none;
}

// Default sizes from W3, with added rem
h1 { font-size: 2 * 2rem; }
h2 { font-size: 1.5 * 2rem; }
h3 { font-size: 1.17 * 2rem; }
h4 { font-size: 1.12 * 2rem; }
h5 { font-size: .83 * 2rem; }
h6 { font-size: .75 * 2rem; }
body { font-size: 2rem; }

.container {
    width: 100%;
    display: grid;
    align-items: center; // Cross Axis
    justify-content: center; // Normal Axis
    padding: 5% 5%;
}

.parallax-bg {
    background-image: url("../images/bg.jpg");

    justify-content: center;
    max-width: 192rem;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-bg {
    backdrop-filter: blur(6px);
}

.darken-bg {
    backdrop-filter: brightness(10%);
  }

// Hero Section

#hero {

    .container {
        height: 100vh; //is this gonna get wonky
        animation: fadein 2s;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr)); //repeat(num_cols_that_can_fit, 24rem -> 1 whole item on whatever screen size is >240px.)
    }

    #anim {
        // min-width: 720px;
    }
    
    #banner {
        // padding: 50px 0;
    }

    .cta {
        display: inline-block;
        padding: 1rem 3rem;
        color: white;
        background-color: rgba(0, 0, 0, .2);
        border: .2rem solid white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 3rem;
        transition: .5s ease;
        transition-property: background-color, color, padding;
    }

    .cta:hover {
        color: white;
        background-color: crimson;
        padding: 2rem 4.5rem;
    }

}

#email-ribbon {

    .container {
        min-height: 30vh;
        animation: fadein 2.3s;
        background: #ff9966;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media only screen and (max-width: 600px) {
            min-height: 50vh;
            text-align:  center;
          }
    }

    h2 {
        margin: 0 1rem 0 0;
    }

    input {
        min-width: 30rem;
        margin: 0 1rem;
        width: 25%;
        padding: 1.2rem 2rem;
        border: .1rem solid black;
        letter-spacing: .2rem;
        background-color: rgba(255, 255, 255, .3);
        @media only screen and (max-width: 600px) {
            margin-top: -5rem;
        }
    }

    input::placeholder{
        // background-color: rgb(255, 255, 255, .2);

        color: rgba(53, 53, 53, 0.7);
    }

    input:focus {
        outline:none;
        box-shadow: .5rem .5rem .2rem rgba(0, 0, 0, .3);

    }

    .subscribe-button {
        margin: 0;
        flex-wrap: wrap;
        padding: 1rem 3rem;
        color: white;
        background-color: rgba(0, 0, 0, .2);
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        @media only screen and (max-width: 600px) {
            margin-top: -7rem;
        }
    }
}

#email-numbers-text {

    .container {
        min-height: 30vh;
        animation: fadein 2.3s;
        background: #FDFDFD;  /* fallback for old browsers */
        display: block;
        text-align:  center;
        padding: 5% 25%;

        @media only screen and (max-width: 600px) {
            min-height: 50vh;
            padding: 5% 10%;

          }
    }

    p {
        font-size: 2.5rem;
        color: black;
    }

}

// Keyframes

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}