@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #202124;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadein 2s;
}

.parallax-bg {
    background-image: url("../images/bg.jpg");

    justify-content: center;
    max-width: 1920px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-bg {
    backdrop-filter: blur(6px);
}

.darken-bg {
    backdrop-filter: brightness(10%);
  }

// Hero Section

#hero {

    .container {
        display: grid;
        align-items: center;
        padding: 0 5%;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));        
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .cta {
        display: inline-block;
        padding: 10px 30px;
        color: white;
        background-color: rgba(0, 0, 0, .2);
        border: 2px solid white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 30px;
        transition: .5s ease;
        transition-property: background-color, color, padding;
    }

    .cta:hover {
        color: white;
        background-color: crimson;
        padding: 20px 45px;
    }

    #anim {
        position: relative;
        // min-width: 720px;
    }

}

// Keyframes

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}