@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #202124;
}

a {
    text-decoration: none;
}

h1 { font-size: 2 * 2rem; }
h2 { font-size: 1.5 * 2rem; }
h3 { font-size: 1.17 * 2rem; }
h4 { font-size: 1.12 * 2rem; }
h5 { font-size: .83 * 2rem; }
h6 { font-size: .75 * 2rem; }
body { font-size: 2rem; }

.container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.parallax-bg {
    background-image: url("../images/bg.jpg");

    justify-content: center;
    max-width: 1920px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur-bg {
    backdrop-filter: blur(6px);
}

.darken-bg {
    backdrop-filter: brightness(10%);
  }

// Hero Section

#hero {

    .container {
        height: 100vh; //is this gonna get wonky
        animation: fadein 2s;
        padding: 0 5%;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    }

    #anim {
        // min-width: 720px;
    }
    
    #banner {
        // padding: 50px 0;
    }

    .cta {
        display: inline-block;
        padding: 1rem 3rem;
        color: white;
        background-color: rgba(0, 0, 0, .2);
        border: .2rem solid white;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 3rem;
        transition: .5s ease;
        transition-property: background-color, color, padding;
    }

    .cta:hover {
        color: white;
        background-color: crimson;
        padding: 2rem 4.5rem;
    }

}

#email-ribbon {

    .container {
        min-height: 25vh;
        animation: fadein 2.3s;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    input {
        min-width: 30rem;
        margin: 0 1rem;
        width: 25%;
        padding: 1.2rem 2rem;
        border: .2rem solid crimson;

    }

    .subscribe-button {
        margin: 0;
        flex-wrap: wrap;
        padding: 1rem 3rem;
        color: white;
        background-color: rgba(0, 0, 0, .2);
        border: .2rem solid purple;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
}

// Keyframes

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}